In [5]:
import pandas as pd
import threading
import numpy as np

In [66]:
test_dataframe = pd.read_parquet("../datasets/MBTI_500.pq", engine="fastparquet")

test_dataframe

        type                                              posts
0       INTJ  know intj tool use interaction people excuse a...
1       INTJ  rap music ehh opp yeah know valid well know fa...
2       INTJ  preferably p hd low except wew lad video p min...
3       INTJ  drink like wish could drink red wine give head...
4       INTJ  space program ah bad deal meing freelance max ...
...      ...                                                ...
106062  INFP  stay frustrate world life want take long nap w...
106063  INFP  fizzle around time mention sure mistake thing ...
106064  INFP  schedule modify hey w intp strong wing underst...
106065  INFP  enfj since january busy schedule able spend li...
106066  INFP  feel like men good problem tell parent want te...

[106067 rows x 2 columns]

### Feature Seperation 
Using ```str.split("", expand=True)``` we seperated each of the letters in the personality type string and made them into seperate columns. By selecting the indices 1, 2, 3 and 4 we took only the columns containing letters, not the empty strings. Later on, we assigned the columns to the dataframe.

In [67]:
feature_seperated_columns = test_dataframe["type"].str.split("", expand=True)[[1, 2, 3, 4]]
feature_seperated_columns

        1  2  3  4
0       I  N  T  J
1       I  N  T  J
2       I  N  T  J
3       I  N  T  J
4       I  N  T  J
...    .. .. .. ..
106062  I  N  F  P
106063  I  N  F  P
106064  I  N  F  P
106065  I  N  F  P
106066  I  N  F  P

[106067 rows x 4 columns]

In [68]:
test_dataframe[["I_E", "N_S", "T_F", "J_P"]] = feature_seperated_columns

In [69]:
test_dataframe

,type,posts,I_E,N_S,T_F,J_P
0,INTJ,know intj tool use interaction people excuse a...,I,N,T,J
1,INTJ,rap music ehh opp yeah know valid well know fa...,I,N,T,J
2,INTJ,preferably p hd low except wew lad video p min...,I,N,T,J
3,INTJ,drink like wish could drink red wine give head...,I,N,T,J
4,INTJ,space program ah bad deal meing freelance max ...,I,N,T,J
...,...,...,...,...,...,...
106062,INFP,stay frustrate world life want take long nap w...,I,N,F,P
106063,INFP,fizzle around time mention sure mistake thing ...,I,N,F,P
106064,INFP,schedule modify hey w intp strong wing underst...,I,N,F,P
106065,INFP,enfj since january busy schedule able spend li...,I,N,F,P
106066,INFP,feel like men good problem tell parent want te...,I,N,F,P

In [70]:
test_dataframe.to_parquet("../datasets/label_seperated_MBTI_500.pq")